:root {
  --primary-color: #874a65;
  --secondary-color: #7d6287;
  --light-color: #ecf0f1;
  --dark-color: #69536b;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
  color: var(--dark-color);
  line-height: 1.6;
  box-sizing: border-box;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-text h1 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
  font-family: 'Playfair Display', serif; /* Titre avec Playfair Display */
}

.header-text p {
  margin: 0;
  font-size: 0.9rem;
  color: white;
  font-family: 'Raleway', sans-serif; /* Paragraphe avec Raleway */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px; /* Taille de la police */
  font-weight: bolder;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  font-family: 'Playfair Display', serif; /* Police de menu avec Playfair Display */
}

nav ul li a:hover,
nav ul li a:focus {
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.2);
}

.carousel {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-top: -1px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  height: 400px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 2;
}

.carousel-control.prev {
  left: 1rem;
}

.carousel-control.next {
  right: 1rem;
}

.carousel-frame {
  position: absolute;
  bottom: 30%;
  left: 10%;
  width: 80%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}

.carousel-frame h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin: 0 0 1rem;
}

.carousel-frame p {
  font-size: 1rem;
  margin: 0 0 1rem;
  font-family: 'Raleway', sans-serif; /* Paragraphe avec Raleway */
}

.carousel-button {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgb(0, 0, 0);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

@keyframes slideInFromLeft {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
      opacity: 0;
      transform: translateX(20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.service-card {
  flex-basis: calc(33.333% - 1rem);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  opacity: 0;
  transform: translateX(0);
}

.service-card.animate {
  animation: slideInFromLeft 0.6s ease-out forwards;
}

.service-card:nth-child(2).animate {
  animation: slideInFromRight 0.6s ease-out forwards;
}

.service-card:nth-child(3).animate {
  animation: slideInFromLeft 0.6s ease-out forwards;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service-card-content {
  padding: 1rem;
}

.service-card h3 {
  font-family: 'Playfair Display', serif;
  margin-top: 0;
  text-align: center;
}

.testimonials {
  background-color: #7d6287;
  color: #ecf0f1;
  padding: 3rem 0;
  margin-top: 3rem;
}

.testimonial-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.testimonial-container h2 {
  font-family: 'Playfair Display', serif;
}

.testimonial {
  font-style: italic;
  margin-bottom: 1rem;
}

.testimonial.animate {
  opacity: 1;
  transform: translateY(0);
}

footer {
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  width: 100%;
  box-sizing: border-box;
}

footer p {
  margin: 0.5rem 0;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
  color: var(--dark-color);
}

@media screen and (max-width: 768px) {
  .nav-container {
      flex-direction: column;
  }

  .menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .menu-toggle {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 3;
  }

  .menu.open {
      display: flex;
  }

  .menu li {
      margin: 0.5rem 0;
  }

  .hero h2 {
      font-size: 2rem;
  }

  .service-card {
      flex-basis: 100%;
  }
}

.math-symbols {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.math-symbol {
  position: absolute;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
  animation: floatSymbol 10s linear infinite;
}

@keyframes floatSymbol {
  0% {
      transform: translateY(100%) rotate(0deg);
      opacity: 0;
  }
  10% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      transform: translateY(-100%) rotate(360deg);
      opacity: 0;
  }
}
